body {
    margin: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
}
#canvas {
  border: 1px solid black;
  margin:0;
  padding:0;
  height: 1300px;
  width: 1200px;
  background-color: #ADD8E6;

}
.buttons{
  z-index: 2;
  position: fixed;
  top: 100px;
  left: 100px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.start{
  height: 60px;
  font-size: 30px;
  font-weight: 600;
  background-color:#1cb2f5;
  color: whitesmoke;
  border-radius: 5px;
}
.speedUp {
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  background-color: #1fc600;
  color: whitesmoke;
  border-radius: 5px;
}
.speedDown {
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  background-color: red;
  color: whitesmoke;
  border-radius: 5px;
}
.hidden{
  visibility: hidden;
}